@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {

  @font-face {
    font-family: 'Grotesk';
    src: url(./assets/fonts/ClashGrotesk-Medium.ttf) format('truetype');
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }


  .custom-header-cover{
    background: url('./assets/backgrounds/looperbg.svg');
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      height: 650px;
      background-position: bottom;
    }

  }



  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
  }
  
  .gradient-button-bg{
    background: linear-gradient(180deg, #497CFF 0%, #001664 100%);
    background: -webkit-linear-gradient(180deg, #497CFF 0%, #001664 100%);
    font-family: 'Space Grotesk', sans-serif; 
    font-weight: 400;
    font-size: 20px;
  }

  .gradient-button-bg-2{
    background: linear-gradient(180deg, #D1D3E2 0%, #75629D 100%);
    background: -webkit-linear-gradient(180deg, #D1D3E2 0%, #75629D 100%);
    font-family: 'Space Grotesk', sans-serif; 
    font-weight: 400;
    font-size: 20px;
  }


  .gradient-about-bg{
  background: linear-gradient(0deg, #0030AA, #0030AA),
linear-gradient(112.93deg, #D5DFF5 1.12%, #F3F4F7 109.38%);
  }


  .welcome-container{
    width: 600px;
    box-shadow: 8px 8px 40px 0px #7D99B433;
    height: 400px;
  }


  .stock-ticker-container{
    box-shadow: 0px 4px 4px 0px #0000000D;

  }

  .custom-stripe{
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .custom-container{
    max-width: 340px;
  }

  .financial-container{
    max-width: 370px;
  }

  .active-stocks-container{
    max-width: 360px;
  }

  .single-stock-container{
    max-width: 300px ;
  }

  .monthly-revenue-container{
    max-width: 680px;
  }

}


